.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainHeader th {
  background-color: red;
  width: auto;


}



div .table {
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #C1C2CE;
  background-color: #CCC8C0; */
}



td {
  text-align: center;
  max-width: 10px;
  /* background-color: red; */
}

th {
  max-width: 10px;
}




.card-text {
  font-size: medium;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}